header {
display: flex;
justify-content: center;
align-items: center; 
}

.nav-link {
  color: black;
}

header a {
margin-right: 3em;
}

/* Dark mode */

 html.dark-mode {
  filter: invert(100%);
}

html.dark-mode img {
  filter: invert(100%);
}

.dark-mode-switch {
  position: fixed;
  right: 1rem;
  top: 1rem;
  padding: .5rem 1rem;
  background-color: #ddd;
}

/* termina dark mode */
  
/* body{background-color:whitesmoke;} */

#titular{color:navy;font-size:50px;font-family: 'Roboto', sans-serif;}

* {
    font-family: Arial;
   }

p{background-color: #989898 ;
color:white
 }

 p::first-letter {
    font-size: 2em;
    color: black;
  }
  
a:hover {
    background-color: darkgrey;
  }

.image-container {
display: flex;
justify-content: center;
align-items: center;
 }

/* Para pantallas de menos de 600px */
@media (max-width: 600px) {
    .image-container {
      flex-direction: column;
    }
  }

/* Botón "Return to top" */

  .rtp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 90px;
    height: 30px;
    line-height: 30px;
    border-radius: 6px;
    background-color: #333;
    color: #fff;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-sizing: border-box;
    border: 2px solid #333;
  }
  
  .rtp:hover {
    background-color: #fff;
    color: #333;
    border-color: #fff;
  }

/* Boton JS */

button {
  background-color: #4CAF50; /* Verde */
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
}