header {
display: flex;
justify-content: center;
align-items: center; 
}

body {
  background-image: url("./images/Rio-da-Prata.jpg"); /* Foto de fondo */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.image-container::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1E2621;
  opacity: 0.9; /* Opacidad del fondo para regular cuanto se ve la foto */
  z-index: -1;
}


h3 {
  color: #BDFCC9; 
  padding: 10px; 
}

.nav-link {
  color: black;
}

#titular{color:lightgrey;font-size:50px;font-family: "Roboto", Arial, sans-serif}

* {
    font-family: "Roboto", Arial, sans-serif
   }

p {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color:lightgrey;
  margin-bottom: 10px;
}


a:hover {
    background-color: darkgrey;
  }

.image-container {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }

.image-container img {
  width: 100%;
  max-width: 560px;
  height: auto;
  margin: 10px;
}

/* Botón "Volver arriba" */

.rtp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 90px;
  height: 30px;
  line-height: 30px;
  border-radius: 6px;
  background-color: #333;
  color: #fff;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-sizing: border-box;
  border: 2px solid #333;
}

.rtp:hover {
  background-color: #fff;
  color: #333;
  border-color: #fff;
}


/* Estilo para la parte de la cuenta regresiva */

.countdown-container {
  color: #333;
  margin: 0 auto;
  text-align: center;
  background-color: #BDFCC9;
  padding: 17px;
  border-radius: 20px;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  max-width: 850px;
}

h2 {
  font-weight: normal;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  font-size: 1rem;
  text-transform: uppercase;
  padding: 0.5rem;
}

li span {
  display: block;
  font-size: 2rem;
  font-weight: bold;
}

.countdown-label {
  font-size: 1rem;
  color: #777;
  margin-top: 4px;
}

/* Media query para viewports <400px */
@media (max-width: 400px) {
  li {
    padding: 0.25rem;
    font-size: 0.75rem;
  }

  .countdown-label {
    font-size: 0.85rem;
  }

  li span {
    font-size: 1.5rem;
  }
}
